<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Spring Boot Blog</title>
</head>
<body>

<div class="container">
    <div th:if="${not #lists.isEmpty(posts)}">
        <div th:each="post : ${posts}">

            <h1>
                <p class="form-control-static" th:text="${post.title}">Title</p>
            </h1>
            <p class="form-control-static" th:text="${post.text}">Text</p>
            <b>date:</b>
            <p class="form-control-static" th:text="${post.date}">date:</p>
            <b>likes: </b>
            <p class="form-control-static" th:text="${post.likes}">likes</p>
            <label>Author:</label>
            <p th:text="${post.user.name}">User</p>
            <a th:href="${post.link}">link</a>

            <div th:each="comment : ${post.comments}">
                <p class="form-control-static" th:text="${comment.text}">Text</p>
                <b>date:</b>
                <p class="form-control-static" th:text="${comment.date}">date:</p>
                <b>likes: </b>
                <p class="form-control-static" th:text="${comment.likes}">likes</p>

            </div>

        </div>
    </div>
</div>
<a href="/post/new">create new post</a><br></br>

</body>
</html>